

  <body>  
  <div class="column_two">
    <h2>Welcome!</h2>
    <p>This App was created to help Farriers manage client information and appointments.</p>
    <p>Please Sign Up or Log In above to get started!</p>
  </div>
    <div class="column_two"><%= image_tag("hot_shoe.jpg", size: "500x300", alt: "Hot Shoe") %></div>

    <div class="column_two"><%= image_tag("trim.jpg", size: "500x300", alt: "Trim") %></div>
  </body>
