<h2>Welcome <%= @farrier.first_name %> <%= @farrier.last_name %>!</h2>
<h3><%= @farrier.company_name %>
 
<p>My Horses:</p>
<% @farrier.horses.each do |horse| %>
  <li><%= link_to horse.name, horse_path(horse) %></li>
<% end %>

