/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
  background-image: url("white_boards.jpg"); /* The image used */
  background-color: rgb(253, 252, 252); /* Used if the image is unavailable */
  height: 1100px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: repeat-y; /* Do or do not repeat the image */
  background-size: cover;
}

header {
  background-color: #b0dcec;
  border: 2px solid black;
  height: 80px;
  width: 100%;
  flex-shrink: 0
}

.flash {
  color: crimson;
  font-size: large;
  font-weight: 600;
}

li {
  float: left;
  display: block;
  padding: 12px;
  font-size: large;
  background-color: #e8e8e8;
  border: 1px solid black;
}