/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /* *= require simple_calendar */

body {
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 70px;
  padding-right: 70px;
  background-image: url("white_boards.jpg"); /* The image used */
  background-color: rgb(253, 252, 252); /* Used if the image is unavailable */
  height: 1100px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: repeat-y; /* Do or do not repeat the image */
  background-size: cover;
}
/* 
header {
  background-color: #b0dcec;
  border: 2px solid black;
  height: 80px;
  width: 100%;
  flex-shrink: 0
} */

.flash {
  color: crimson;
  font-size: large;
  font-weight: 600;
}

/* li {
  float: left;
  display: block;
  padding: 12px;
  font-size: large;
  background-color: #e8e8e8;
  border: 1px solid black;
} */

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b0dcec;
}

ul.topnav li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: center;
}

@media screen and (max-width: 600px) {
  ul.topnav li {float: none;}
}

.footer {
  position: fixed;
  left: 10;
  bottom: 0;
  width: 90%;
  background-color: #b0dcec;
  color: rgb(0, 0, 0);
  text-align: center;
}

.footer p {
  float: center;
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1px 1px;
  text-decoration: center;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column_two {
  float: left;
  width: 50%;
  padding: 10px;
}

.field_with_erros input[type=’text’]{
  border: 1px solid red;
}

/* Testing CSS */

/* .image {
  border-radius: 20px;
} */

.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 5px
}

.grid-item {
  border-radius: 20px;
  height: 300px;
  width: 500px;
  object-fit: contain;
}