// Place all the styles related to the Farriers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "simple_calendar";

.center {
  text-align: center;
  border: 3px solid rgb(36, 27, 124);
}

.center p {
  font-weight: bold;
  font-style: italic;
}