<h1>All Appointments Index Page</h1>

<ul>
<% @appointments.each do |appointment| %>
  <p>

    <li>
    Horse Name: <%= appointment.horse.name if appointment.horse.name %><br>
    Start time: <%= appointment.start.strftime("%B %d, %Y at %k:%M") if appointment.start %><br>
    End time: <%= appointment.end.strftime("%B %d, %Y at %k:%M") if appointment.end %><br>
    Comments: <%= appointment.comments %>
    </li>
  
  </p>
<% end %>
</ul>